<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TreeZipToolUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TreeZipToolUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <!-- Treat assemblies from network locations as fully trusted. -->
    <!-- Caution: Do not point this loaded gun at your foot. -->
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <applicationSettings>
    <TreeZipToolUi.Properties.Settings>
      <setting name="ArchiveExtensions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>.zip</string>
            <string>.rar</string>
            <string>.7z</string>
            <string>.cbr</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SevenZipLibPath" serializeAs="String">
        <value>C:\Program Files\7-Zip\7z.dll</value>
      </setting>
    </TreeZipToolUi.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <TreeZipToolUi.Properties.Settings>
      <setting name="DegreeOfParallelism" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ExtractToSubDir" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteAfterSuccess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WorkingPath" serializeAs="String">
        <value>C:\</value>
      </setting>
    </TreeZipToolUi.Properties.Settings>
  </userSettings>
</configuration>
